{% extends "AcmeAddressbookBundle::layout.html.twig" %}

{% block title "Address book" %}

{% block content_header '' %}

{% block content %}
    <h1>Address book</h1>
    <hr>
    <br><br>
    <a href="{{ path('_addressbook_add') }}">Add new user on the Address Book</a>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Telephone home</th>
                <th>Telephone mobile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                {% for addressLine in user.addressLines %}
                    {{ addressLine }}
                {% endfor %}
                </td>
                <td>{{ user.city }}</td>
                <td>{{ user.postcode }}</td>
                <td>{{ user.telephoneHome }}</td>
                <td>{{ user.telephoneMobile }}</td>
                <td>
                    <a href="{{ path('_addressbook_view', {'id': user.id}) }}">View</a>
                    <a href="{{ path('_addressbook_edit', {'id': user.id}) }}">Edit</a>
                    <a href="{{ path('_addressbook_delete', {'id': user.id}) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
