{% extends "AcmeAddressbookBundle::layout.html.twig" %}

{% block title "Address book - View entry" %}

{% block content %}
    <h1>View user with ID: {{ user.id }}</h1>
    <hr>
    <ul>
        <li><b>First Name:</b> {{ user.firstName }}</li>
        <li><b>Last Name:</b> {{ user.lastName }}</li>
        <li>
            <b>Address:</b>
            {% for addressLine in user.fullAddress %}
                {{ addressLine }}<br/>
            {% endfor %}
        </li>
        <li><b>Telephone Home:</b> {{ user.telephoneHome }}</li>
        <li><b>Telephone Modile:</b> {{ user.telephoneMobile }}</li>
    </ul>
{% endblock %}